@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	
}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 20px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/* LAYOUT */

#top{
	background : $main_color;
	.top-text{
		float : left;
		font-size: 13px;
		line-height: 30px;
	}
	.top-links{
		list-style: none;
		margin:0;
		padding: 0;
		float: right;
		li{			
			display: inline-block;
			padding : 0px 15px;
			a{
				background : transparent url("../img/common/top_nav_icon.jpg") no-repeat 0 0 scroll;						
				padding-left: 20px;
			}
		}
		li:last-child{
			padding: 0 0 0 15px;
		}
	}
	line-height : 30px;
	color : #fff;
	a{ color : #fff; }
}

header{
	background : #fff;
	height: 137px;
	padding: 14px 0 20px;
	.header_content{
		.logo{
			padding-top: 8px;
			float : left;
			width: 385px;
		}
		.header-info{			
			float: left;
			padding-left: 97px;
			.header-info1{				
				ul{
					list-style: none;
					margin:0;
					padding: 0;
					li{
						display: inline-block;
						padding-left: 10px;
					}
					li:first-child{
						padding-left: 0;
					}					
				}
			}
			.header-info2{
				padding: 14px 0 0 65px;
			}
		}
	}
}

#slider-navi{
	background : $bg_color url("../img/common/slider_bg.jpg") repeat-x 0 0 scroll;		
	padding-top: 15px;
}

#top-navi{
	background : $bg_color url("../img/common/top_nav_bg.jpg") repeat-x 0 0 scroll;		
	padding-top: 15px;
}

nav{		
	#gNavi{	
		ul{
			list-style: none;
			margin : 0;
			padding : 0;			
			border: 1px solid #145bb7;
			background : #145bb7 url("../img/common/navi_bg.jpg") repeat-x 0 0 scroll;						
			width: 1060px;			
			li{
				float : left;
				background : transparent url("../img/common/navi_space.jpg") no-repeat 0 center scroll;						
				line-height: 68px;
				width: 146px;
				a{					
					display: block;
					text-align: center;					
					color : #fff;
					font-weight: bold;
				}											
			}		
			.item-second{				
				a{
					padding: 15px 25px;
					line-height: 1.4em;
				}				
			}
			.item-second:hover{
				background : transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll;										
				a{
					padding: 15px 25px;
					line-height: 1.4em;
				}				
			}
			li:hover{
				background : transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll;						
				line-height: 68px;				
			}
			
			li:first-child{
				background: none;				
			}
			
			li:first-child:hover{				
				background : transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll;						
				line-height: 68px;				
			}
			
			li:last-child{	
				width: 182px !important;				
				margin-top: -1px;
				a:hover{
					background : $sub_color1;	
					line-height: 68px;
					width: 182px;					
				}			
			}			
		}	
	}
}

#slider{	
	.bx-wrapper{
		margin: 0;
		.bx-viewport{
			background: none;				
			left : 0;
			border : none;			
		}
		.bx-prev{
			left: -50px;
		}
		.bx-next{
			right: -50px;
		}
		.slider-width{
			width: 1060px !important;
			margin: 8px 0 0 24px;
		}
		
	}
}

#content{
	padding : 40px 0px 0px;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-283{
		padding-bottom: 35px;
		.image{ width : 283px; }
		.text{ 
			width : $primary_width - 283px - 20px; 
			.text-clr{
				color: #ff0000;
				font-weight: bold;
			}
		}
	}
	
	.message-275{
		.image{ 
			width : 275px; 
			margin-right: 20px;
		}
		.text{ width : $primary_width - 295px - 20px; }
	}
	
	.message-258{
		.image{ width : 258px; }
		.text{ width : $primary_width - 258px - 20px; }
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col370{
		.message-col{
			border: 1px solid $main_color;
			padding: 5px 15px 15px 15px;
			width: 370px;	
			margin-left: 20px;		
			.box2-btn{
				padding-top: 10px;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
		
	.message-group.message-col138{
		.message-col{
			width: 138px;	
			margin-left: 17px;
			.box1-text{
				color: #1d2088;
				font-weight: bold;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-classic{
		.message-col{			
			.title{
				color : $main_color;
				line-height: 40px;
				font: {
					size: 20px;
					weight: bold;
				}				
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-top-title{
		line-height : 45px;
		padding-left : 20px;
		background : $bg_color url('../img/common/h2_top_title.jpg') repeat-x 0 0 scroll;
		margin-bottom : 20px;
		font :{
			size: 20px;
			weight: bold;
		}
	}
	
	.h2-title{
		line-height : 74px;		
		background : $bg_color url('../img/common/h2_title.jpg') repeat-x 0 0 scroll;
		margin-bottom : 20px;
		color: #00529a;
		font :{
			size: 50px;
			weight: bold;
		}
	}
	
	.h3-title{		
		height: 42px;
		background : $bg_color url('../img/common/h3_title.jpg') repeat-x 0 0 scroll;
		margin-bottom : 20px;		
		color: #1052a3;
		font :{
			size: 24px;
			weight: bold;
		}
	}

		/* sideNavi */
	#sideNavi{		
		padding : 1px 1px 1px 1px;		
		ul{
			list-style: none;
			margin : 0;
			padding : 0;
			border-left: 3px solid $main_color;
			li{			
				border-bottom: 1px solid #eee;
				margin-left: 15px;				
				a{					
					display: block;
					line-height: 40px;																		
					i.fa{						
						padding-right: 10px;  
						line-height: 40px;
						font-size: 14px;
						color: #9f9f9f;
					}
				}
				a:hover{
					text-decoration: underline;
				}
			}
		}
	}	
}


/*/////////// side-con ////////////*/
.side-con{
	position : relative;	
	.side-con-btn{
		position : absolute;
		top : 145px;
		left : 10px;
	}
	.side-con-text1{
		line-height: 1.5em;		
		font-size: 12px;
		position: absolute;
		bottom: 50px;
		left: 15px;		
		padding: 15px 15px 15px 3px;		
		.side-con-title{
			font-weight: bold;
		}
	}
	.side-con-text2{
		line-height: 1.5em;		
		font-size: 12px;
		position: absolute;
		bottom: 1px;
		left: 15px;		
		padding: 15px 15px 15px 3px;		
		.side-con-title{
			font-weight: bold;
		}
	}
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}	
	.form-submit {
		margin: 10px 0 0 -20px;
		text-align: center;
		.formorder-comfirm{					
			background: transparent url("../img/content/top_content_img6_btn.jpg") no-repeat 0 0 scroll;			
			width: 688px;
			height: 108px;
			border: none;
			text-indent: -9999px;
		}
		
		.formparter-comfirm{					
			background: transparent url("../img/content/partner_content-btn.jpg") no-repeat 0 0 scroll;			
			width: 374px;
			height: 73px;
			border: none;
			text-indent: -9999px;
		}
	}
	table tr th,td{ font-size : 14px; }
	input{		
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 419px;
		font-size: 14px;
		height: 30px;
	}	
}


footer{
	margin-top : 80px;
	.footer-info1{
		background-color: #0072d9;
		line-height: 30px;
		color: $sub_color2;
	}
	.footer-content{
		background-color: $main_color;
		padding : 16px 0 25px;
		.footer-logo{
			float: left;			
		}		
		.footer-tel{
			float: right;						
		}		
		.footer-navi{
			padding: 35px 35px 0 35px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				li{
					color: $sub_color2;
					display: inline;
					a{						
						padding: 0 10px;
						border-left: 1px solid $sub_color2;
						color: $sub_color2;
						font:{
							size: 14px;
							weight: bold;
						}
					}
				}
				li:last-child{
					border-right: 1px solid $sub_color2;
				}
			}
		}
	}
	.footer-copyright{
		height: 45px;
		text-align: center;
		padding-top: 20px;
	}
}

