//size
$max_width:1060px;

////////////////////////
//color
// check file "000_Setting sheet.sheet" for detail settings
$text_color :#333;
$bg_color :#fff;
$border_color :#00529b;
$main_color :#00529b;
$sub_color1 :#333;
$sub_color2 :#fff;
$sub_color3 :#fff;
$link_color :#333;
$hover_color  :#333;

/////////////////////////
// bootstrap
$screen_xs_max:768px;
$screen_sm_min:768px;
$screen_sm_max:992px;
$screen_md_min:992px;
$screen_md_max:1200px;
$screen_lg_min:1200px;
////////////////////////
@mixin link_color($color) {
     color: $color;

     &:hover, &:active, &:focus {
         color: lighten($color, 20%);
     }
}

@mixin border_radius($value)
{
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin spacing($size) {
  $type: 'p';
  $prop: 'padding';
  @for $i from 1 through 2 {
    @if $i > 1 {
      $type: 'm';
      $prop: 'margin';
    }
    .#{$type}t#{$size} { #{$prop}-top:    #{$size}px; }
    .#{$type}r#{$size} { #{$prop}-right:  #{$size}px; }
    .#{$type}b#{$size} { #{$prop}-bottom: #{$size}px; }
    .#{$type}l#{$size} { #{$prop}-left:   #{$size}px; }
    .#{$type}v#{$size},
    .#{$type}a#{$size} {
      @extend .#{$type}t#{$size};
      @extend .#{$type}b#{$size};
    }
    .#{$type}h#{$size},
    .#{$type}a#{$size} {
      @extend .#{$type}r#{$size};
      @extend .#{$type}l#{$size};
    }
  }
}