@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{
		color: $main-color;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $main-color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}


/*/////////// part-area ////////////*/
.region ul{
	list-style: none;
	margin : 0px;
	padding: 0px;
}
.region > ul{
	padding : 10px;
}
.region > ul > li > span{
	font-weight: bold;
}
.region > ul > li > ul > li > span{	
	padding-left: 10px;
}
.region ul.region_post_list li{
	display: inline;
	padding-right: 10px;
}
.region{
	border: 7px solid $main_color;
	.area-top-title{
		padding-top: 10px;
		text-align: center;
		color: $main_color;
		font: {
			size: 24px;
			weight: bold
		}
	}
	.region-category{
		margin-bottom: 10px;
		.area-title{
			margin-bottom: 10px;
			@include border_radius(2px);
			background-color: $main_color;
			padding: 6px 0 6px 10px;
			color: $sub_color2;
			font:{
				size: 16px;
				weight: bold;
			}
		}
	}
	a:hover{
		text-decoration: underline;
		color: $sub_color1;
	}
}


/* page content */
#content{
	position: relative;
	/* top */
	.top-content-info1{
		background : $bg_color url("../img/content/top_content_img1.png") no-repeat 0 0 scroll;
		margin-top: -20px;
		height: 975px;
		width: 796px;
		position: relative;
		.top-info1-blog{
			position: absolute;
			top: 65px;
			left: 35px;	
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				.item{
					width: 515px;
					border-top : 1px solid #7dabf0;
					.date{
						color : $sub_color2;
						font-weight: bold;
						float : left;
						width: 125px;
					}
					.title{
						color : $sub_color2;
					}
					.title a:hover{
						text-decoration: underline;
					}
					.date,.title{
						line-height: 30px;					
					}
				}
				.item:first-child{
					border-top : none;
				}				
			}					
		}
		
		.top-info1-text{
			position: absolute;
			top: 386px;
			left: 23px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				float: left;
				li{
					width: 350px;
					margin-bottom: 20px;
					padding: 80px 20px 20px 20px;					
				}
				.info-text{
					padding: 65px 12px 20px 20px;
				}
				li:last-child{
					margin-top: 43px;
				}
			}
			ul:last-child{
				margin-left: 15px;
				li:last-child{
					margin-top: 20px;
				}
			}
		}
	}
	
	.top-content-info2{
		background : $bg_color url("../img/content/top_content_img2.png") no-repeat 0 0 scroll;
		height: 405px;
		position: relative;
		.top-info2-text{
			position: absolute;
			top: 135px;
			left: 50px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				float: left;
				li{
					line-height: 40px;
					padding: 0 0 3px 10px;
					font:{
						size: 17px;
						weight: bold;
					}					
				}
				li:first-child{		
					width: 305px;					
					line-height: 1.5em;
				}
			}			
		}
	}
	
	.top-box1-title{
		line-height : 61px;
		margin-left: 10px;
		padding-left : 71px;
		background : $bg_color url('../img/content/top_box1_icon.png') no-repeat 0 0 scroll;
		margin-bottom : 20px;
		font :{
			size: 24px;
			weight: bold;
		}
	}
	
	.top-box2-title{
		line-height : 61px;
		margin-left: 10px;
		padding-left : 71px;
		background : $bg_color url('../img/content/top_box2_icon.png') no-repeat 0 0 scroll;
		margin-bottom : 20px;
		font :{
			size: 24px;
			weight: bold;
		}
	}
	.flow-title{
		color: $text_color;		
		font:{	
			size: 30px;
			weight: bold;
		}
	}
	.top-space{
		padding-top: 28px;
	}
	
	.top-content-info3{
		border: 15px solid #ededed;
		border-top: none;
		padding: 20px;
		.top-order-table{				
			border-style: none;			
			.order-title{
				color: #41c59c;
				font-size: 12px;
			}
			tr{
				height: 55px;					
			}
			tr th{			
				background : $bg_color url("../img/content/top_order_icon.jpg") no-repeat 0 0 scroll;					
				width: 220px;
				padding-left: 15px !important;		
				padding: 0;
				border: none;
				line-height: 1.5em;					
			}	
			
			tr td{
				border: none;			
				padding: 5px 20px;
				font :{
					size: 14px;						
				}					
			}				
					
		}
	}
}

.top-scroll{
	position: fixed;
    top: 100px;
    right: 0;
	a:hover{
		height: 50px;
	}
}

/*//////// page-faq //////*/
.faq-content-list{
	.faq-content-row{		
		margin-top: 25px;
		border: 1px solid $main-color;
		border-top: none;
		.question{
			background-color: $main-color;
			line-height: 56px;
			padding-left : 20px;
			font-size: 18px;			
			color: #fff;			
		}
		.answer{
			padding: 10px 15px;	
			line-height: 1.5em;	
			.answer-space{
				padding-top: 15px;
			}
		}
	}	
}/* end faq-content-list */

/*------- page-point ----------*/
.point-top_img{
	margin-top: -45px;
}

.subpage-space{
	padding-top: 28px;
}

/*------- page-price ----------*/
.price-content-info1{
	background : $bg_color url("../img/content/price_content_img1.png") no-repeat 0 0 scroll;
	height: 109px;
	position: relative;
	.price-info1-text{
		position: absolute;
		bottom: 25px;
		left: 65px;
		color: $sub_color2;
		font:{
			size: 22px;
			weight: bold;			
		}
	}
}

.price-content-info2{
	margin: -20px 0 15px;	
}

.price-content-info3{
	.image{
		width: 372px;
		float : right;
		margin-right: -30px;
	}
	.text{
		width: 390px;
		float : left;
		margin-right: 25px;
	}
}

.price-table-info{		
	width: 602px !important;
	margin: 30px 80px 20px 80px;
	tr th, td{
		text-align: center;
		border: 1px solid #ddd !important;
		padding: 10px 20px;
	}
	.table-info-title{
		background-color: $main-color;
		color: $sub_color2;
		height: 50px;
		font:{	
			size: 18px;
			weight: bold;
		}
	}
	tr th{
		color: $main-color;
		background-color: #f1f7fe;
		font:{	
			size: 18px;
			weight: bold;
		}
	}
	tr td{
		color: #ff3355;
		font:{
			size: 35px;
			weight: bold;
		}
		.price-table-stext{
			font-size: 20px;
		}
	}
}

.price-table-text{
	box-shadow: 0 0 4px 4px #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	background-color: #eee;
	text-align: center;
	line-height: 55px;
	width: 602px;
	margin: 0 0 32px 80px;
	color: #ff3355;
	font: {
		size: 26px;
		weight: bold;
	}
}

@mixin choice-info1{
	position: absolute;
	top: 180px;
	left: 30px;
	right: 15px;
	.choice-info1-title{
		padding-left: 60px;
		color: #000;
		.choice-info1-clr{
			color: #d90000;
		}
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.choice-info1-text{
		padding-top: 15px;
		line-height: 1.8em;
	}
}
.choice-content-info1{
	background : $main_color url("../img/content/choice_content_img1.png") no-repeat 0 0 scroll;
	height: 1073px;
	position: relative;
	.choice-info1{
		position: absolute;
		top: 180px;
		left: 30px;
		right: 15px;
		.choice-info-title{
			padding-left: 60px;
			color: #000;
			.choice-info-clr{
				color: #d90000;
			}
			font:{
				size: 30px;
				weight: bold;
			}
		}
		.choice-info-text{
			padding-top: 16px;
			line-height: 1.8em;
		}
	}
	.choice-info2{
		@extend .choice-info1;
		position: absolute;
		top: 395px;
		left: 30px;
	}	
	.choice-info3{
		@extend .choice-info1;
		position: absolute;
		top: 575px;
		left: 30px;
		right: 20px;
	}
	
	.choice-info4{
		@extend .choice-info1;
		position: absolute;
		top: 730px;
		left: 30px;
		right: 20px;
	}
	
	.choice-info5{
		@extend .choice-info1;
		position: absolute;
		top: 941px;
		left: 30px;
		right: 20px;
	}
}

.choice-content-info2{
	background : $bg_color url("../img/content/choice_content_img2.jpg") no-repeat 0 0 scroll;
	height: 332px;
	margin-top: 30px;
	position: relative;
	.choice-info2-text{
		position: absolute;
		top: 70px;
		left: 60px;
		ul{
			list-style: none;
			padding: 0px;
			margin: 0px;
			float: left;
			li{
				line-height: 38px;
				padding: 0 0 3px 10px;
				font:{
					size: 17px;
					weight: bold;
				}					
			}			
		}			
	}
}

.choice-text-clr{
	color: #000;
	padding: 35px 0 5px;
	font:{
		size: 22px;
		weight: bold;
	}
}

.choice-content-info3{		
	margin-top: 20px;
	border: 1px solid #d2e4fb;
	border-top: none;
	.choice-info3-title{
		background-color: #d2e4fb;
		line-height: 40px;
		padding-left : 14px;					
		color: #0852a0;
		font:{
			size: 18px;
			weight: bold;
		}
	}
	.choice-info3-text{
		padding: 10px 15px;	
		line-height: 1.5em;			
	}
}

.choice-content-info4{
	background : $bg_color url("../img/content/choice_content_img3.png") no-repeat 0 0 scroll;
	height: 226px;
	margin-top: 20px;
	position: relative;
	.choice-info4-title{
		position: absolute;
		top: 20px;
		left: 20px;
		color: $sub_color2;
		font:{	
			size: 22px;
			weight: bold;			
		}
	}
	.choice-info4-text{
		position: absolute;
		top: 65px;
		left: 18px;	
		right: 20px;
	}
}

.choice-slogan{
	margin: 25px 0 50px 0;
	color: #000;
	font:{
		size: 28px;
		weight: bold;		
	}
	.slogan-clr{
		font-size: 32px;
		color: #ff0000;
	}
}


/*-------- page-about -------------*/
.about-content-list{
	background : $bg_color url("../img/content/about_content_img2.jpg") no-repeat 0 0 scroll;
	height: 422px;
	position: relative;
	.about-list-text{
		position: absolute;
		top: 70px;
		left: 50px;
		ul{
			list-style: none;
			padding: 0px;
			margin: 0px;
			float: left;
			li{
				line-height: 40px;
				padding: 0 0 3px 10px;
				font:{
					size: 17px;
					weight: bold;
				}					
			}
			li:first-child{		
				width: 305px;					
				line-height: 1.5em;
			}
		}			
	}
	.about-text{
		position: absolute;
		color: #00479d;
		font-weight: bold;
		bottom: 13px;
		left: 15px;
	}
}

.about-content-table{
	tr td{
		padding: 20px 13px;
		border: 1px solid #ddd;
		.fa{
			font-size: 11px;
			padding-right: 5px;
		}
		.sfont{
			font-size: 12px;
		}
	}
	tr{		
		.about-title1{			
			text-align: center;
			background-color: #0cb855;
			color: $sub_color2;
			width: 345px;
			height: 79px;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.about-title2{
			@extend .about-title1;
			background-color: #ff7518;
		}
		.about-sinfo1{
			margin: -90px 0 !important; 
		}
		.about-sinfo2{
			margin: -170px 0 !important; 
		}
		.about-sinfo3{
			margin: -60px 0 !important; 
		}
	}
	th{
		padding: 0!important;
		width: 70px;				
	}
	.about-img{
		background-color: #00479d;
	}
}

/*-------- page-about -------------*/
.flow-content-info{		
	position: relative;
	.flow-info1{
		position: absolute;
		top: 40px;
		left: 0px;
		right: 15px;
		.flow-info-title{
			padding-left: 165px;
			color: $main-color;			
			font:{
				size: 28px;
				weight: bold;
			}
		}
		.flow-info-text{
			padding: 16px 0 0 165px;		
		}
		.flow-contact{
			position: absolute;
			bottom: -92px;
			right: 10px;
		}
	}
	.flow-info2{
		@extend .flow-info1;
		position: absolute;
		top: 44px;
		left: 0px;		
	}		
}

/*--------page-partner ------*/
.partner-info{
	margin: 30px 0 25px;	
	.partner-tel{
		float: left;		
	}
	.partner-text{
		float: right;
		padding-top: 12px;
		font-weight: bold;
		.partner-text-clr{
			color: #00529b;
			margin-top: 10px;
			font:{
				size: 24px;
				weight: bold;
			}
		}
	}
}

.partner-form{		
	tr th, td{
		border: 1px solid #04325b;
	}
	tr th{		
		background-color: $main-color;
		color: $sub_color2;
		font:{
			size: 18px;
			weight: bold;
		}
	}
}
.partner-spc{
	margin-bottom: 35px;
}

/*-----page-estimate----*/
.estimate-form{		
	tr th, td{
		border: 1px solid #04325b;
	}
	tr th{		
		background-color: $main-color;
		color: $sub_color2;		
		font:{
			size: 18px !important;
			weight: bold;
		}
	}
}

.estimate-title-spc{
	margin-top: 30px;
}
.estimate-spc{
	margin-bottom: 35px;
}
.estimate-title{	
	padding-left: 20px;
	background-color: #0072d9;
	line-height: 48px;
	color: $sub_color2;
	font :{
		size: 24px;
		weight: bold;
	}
}

/*-----page-company----*/
.company-table{		
	tr th, td{
		border: 1px solid #04325b;
	}
	tr th{		
		background-color: $main-color;
		color: $sub_color2;		
		font:{
			size: 18px !important;
			weight: bold;
		}
	}
}

/*-----page-blog----*/
.post-row-content{	
	.blog-btnrm{
		float: right;		
		padding: 3px 8px;
		@include border_radius(5px);
		background-color: #0072d9;
		a{
			color: $bg_color;
		}
		a:hover{
			opacity: 0.5;
		}
	}
	.post-row-meta{
		.fa{
			padding: 0 5px 0 20px;
		}
		.fa:first-child{
			padding-right: 5px;
			padding-left: 0;
		}
	}
	.blog-content{
		margin-top: 20px;
	}
}

.navigation{
	margin-top: 25px;
	a{
		color: $main-color;
	}
	a:hover{
		opacity: 0.5;
	}
}

/*-----page-voice----*/
.voice-content{	
	border: 1px solid #00479d;	
	.voice-title{	
		background-color: #00479d;		
		color: $sub_color2;		
		.title-left{
			float: left;
			padding-left: 20px;
			line-height: 56px;
			font-size: 18px;
		}
		.title-right{
			float: right;
			line-height: 56px;
			font-size: 18px;
			padding-right: 20px;
			a{
				color: $sub_color2;	
			}			
		}
	}
	.voice-info{
		border: 10px solid #f0f4f9;
		padding: 18px;
		.voice-img{
			padding-bottom: 18px;
		}
		.voice-post-title{
			padding-bottom: 16px;
			font-size: 24px;
			color: #003399;
		}
	}	
}

/*-----page-voice----*/
.work-group{
	.work-row{
		margin-top: 40px;
		.work-col{
			float : left;			
			.image{
				img{ max-width : 100%; height : auto; }
			}
		}
		.work-col:first-child{
			margin-left: 0px;
		}		
		.work-col370{
			width: 370px;
			margin-left: 20px;				
			.work-title{
				background-color: #00529a;		
				margin-top: 10px;				
				line-height: 40px;
				padding-left: 20px;
				a{
					color: $sub_color2;
					font-size: 14px;
				}
			}
			.work-text{	
				margin-top: 10px;
				.wtext1{
					padding-left: 20px;
					float: left;
				}
				.wtext2{
					float: left;
					padding-left: 30px;
				}
			}			
			.work-rm {
				text-align: right;				
			}
			.work-rm a:hover{
				text-decoration: underline;
			}			
		}
	}
	.work-row:first-child{
		margin-top: 25px;
	}	
}


.work-detail-content{		
	position: relative;		
	.bx-wrapper{
		margin : 0px auto;
	}	
	.bx-viewport{
		left : 0px;
		box-shadow : none;
		border: 1px solid #ddd !important;
		margin-left: 5px !important;
	}
	.bx-pager{
		display : none;  
	}
	#bx-pager{
		margin: 10px 0 0 -5px;
		text-align: center;				
		a img{			
			width: 183px;			
			height: auto;
			border: 1px solid #ddd;
		}
		a{
			padding-left: 5px;
		}
	}
	.bx-controls-direction .bx-prev{
		position: absolute;			
		left : 1px;
	}
	.bx-controls-direction .bx-next{
		position: absolute;			
		right : 1px;
	}	
	.work-detail-info{
		background : transparent url("../img/content/work_detail_bg.png") repeat-x 0 0 scroll;
		height: 140px;
		position: absolute;		
		bottom: 148px;		
		left: 1px;
		width: 758px;
		color: $sub_color2;
		.work-text1{
			padding: 25px 15px 22px 15px;
			font-size: 16px;
		}
		.work-text2{
			padding-left: 35px;
			float: left;
		}
		.work-text3{
			float: left;
			padding-left: 145px;
			a{
				color: $sub_color2;
			}
		}		
	}
}

.work-detail-btn a{	
	text-indent: -9999px;		
	background: url("../img/content/work_detail_btn.png") no-repeat center 0 scroll; 
	text-align: center;
	height: 67px;
	width: 368px;
	display: block;
	margin: 40px 200px;
}

	