@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #00529b;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #0288ff; }

a:link {
  color: #333333; }

a:visited {
  color: #333333; }

a:hover {
  color: #333333; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 20px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/* LAYOUT */
#top {
  background: #00529b;
  line-height: 30px;
  color: #fff; }
  #top .top-text {
    float: left;
    font-size: 13px;
    line-height: 30px; }
  #top .top-links {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    #top .top-links li {
      display: inline-block;
      padding: 0px 15px; }
      #top .top-links li a {
        background: transparent url("../img/common/top_nav_icon.jpg") no-repeat 0 0 scroll;
        padding-left: 20px; }
    #top .top-links li:last-child {
      padding: 0 0 0 15px; }
  #top a {
    color: #fff; }

header {
  background: #fff;
  height: 137px;
  padding: 14px 0 20px; }
  header .header_content .logo {
    padding-top: 8px;
    float: left;
    width: 385px; }
  header .header_content .header-info {
    float: left;
    padding-left: 97px; }
    header .header_content .header-info .header-info1 ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .header_content .header-info .header-info1 ul li {
        display: inline-block;
        padding-left: 10px; }
      header .header_content .header-info .header-info1 ul li:first-child {
        padding-left: 0; }
    header .header_content .header-info .header-info2 {
      padding: 14px 0 0 65px; }

#slider-navi {
  background: white url("../img/common/slider_bg.jpg") repeat-x 0 0 scroll;
  padding-top: 15px; }

#top-navi {
  background: white url("../img/common/top_nav_bg.jpg") repeat-x 0 0 scroll;
  padding-top: 15px; }

nav #gNavi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #145bb7;
  background: #145bb7 url("../img/common/navi_bg.jpg") repeat-x 0 0 scroll;
  width: 1060px; }
  nav #gNavi ul li {
    float: left;
    background: transparent url("../img/common/navi_space.jpg") no-repeat 0 center scroll;
    line-height: 68px;
    width: 146px; }
    nav #gNavi ul li a {
      display: block;
      text-align: center;
      color: #fff;
      font-weight: bold; }
  nav #gNavi ul .item-second a {
    padding: 15px 25px;
    line-height: 1.4em; }
  nav #gNavi ul .item-second:hover {
    background: transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll; }
    nav #gNavi ul .item-second:hover a {
      padding: 15px 25px;
      line-height: 1.4em; }
  nav #gNavi ul li:hover {
    background: transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll;
    line-height: 68px; }
  nav #gNavi ul li:first-child {
    background: none; }
  nav #gNavi ul li:first-child:hover {
    background: transparent url("../img/common/navi_hover.png") repeat-x 0 0 scroll;
    line-height: 68px; }
  nav #gNavi ul li:last-child {
    width: 182px !important;
    margin-top: -1px; }
    nav #gNavi ul li:last-child a:hover {
      background: #333333;
      line-height: 68px;
      width: 182px; }

#slider .bx-wrapper {
  margin: 0; }
  #slider .bx-wrapper .bx-viewport {
    background: none;
    left: 0;
    border: none; }
  #slider .bx-wrapper .bx-prev {
    left: -50px; }
  #slider .bx-wrapper .bx-next {
    right: -50px; }
  #slider .bx-wrapper .slider-width {
    width: 1060px !important;
    margin: 8px 0 0 24px; }

#content {
  padding: 40px 0px 0px;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /* sideNavi */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-283 {
    padding-bottom: 35px; }
    #content .message-283 .image {
      width: 283px; }
    #content .message-283 .text {
      width: 457px; }
      #content .message-283 .text .text-clr {
        color: #ff0000;
        font-weight: bold; }
  #content .message-275 .image {
    width: 275px;
    margin-right: 20px; }
  #content .message-275 .text {
    width: 445px; }
  #content .message-258 .image {
    width: 258px; }
  #content .message-258 .text {
    width: 482px; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    border: 1px solid #00529b;
    padding: 5px 15px 15px 15px;
    width: 370px;
    margin-left: 20px; }
    #content .message-group.message-col370 .message-col .box2-btn {
      padding-top: 10px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col138 .message-col {
    width: 138px;
    margin-left: 17px; }
    #content .message-group.message-col138 .message-col .box1-text {
      color: #1d2088;
      font-weight: bold; }
  #content .message-group.message-col138 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col .title {
    color: #00529b;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold; }
  #content .message-classic .message-col .image img {
    max-width: 100%;
    height: auto; }
  #content .message-classic .message-col .text {
    margin-top: 7px;
    line-height: 1.5em; }
  #content .h2-top-title {
    line-height: 45px;
    padding-left: 20px;
    background: white url("../img/common/h2_top_title.jpg") repeat-x 0 0 scroll;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  #content .h2-title {
    line-height: 74px;
    background: white url("../img/common/h2_title.jpg") repeat-x 0 0 scroll;
    margin-bottom: 20px;
    color: #00529a;
    font-size: 50px;
    font-weight: bold; }
  #content .h3-title {
    height: 42px;
    background: white url("../img/common/h3_title.jpg") repeat-x 0 0 scroll;
    margin-bottom: 20px;
    color: #1052a3;
    font-size: 24px;
    font-weight: bold; }
  #content #sideNavi {
    padding: 1px 1px 1px 1px; }
    #content #sideNavi ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-left: 3px solid #00529b; }
      #content #sideNavi ul li {
        border-bottom: 1px solid #eee;
        margin-left: 15px; }
        #content #sideNavi ul li a {
          display: block;
          line-height: 40px; }
          #content #sideNavi ul li a i.fa {
            padding-right: 10px;
            line-height: 40px;
            font-size: 14px;
            color: #9f9f9f; }
        #content #sideNavi ul li a:hover {
          text-decoration: underline; }

/*/////////// side-con ////////////*/
.side-con {
  position: relative; }
  .side-con .side-con-btn {
    position: absolute;
    top: 145px;
    left: 10px; }
  .side-con .side-con-text1 {
    line-height: 1.5em;
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    left: 15px;
    padding: 15px 15px 15px 3px; }
    .side-con .side-con-text1 .side-con-title {
      font-weight: bold; }
  .side-con .side-con-text2 {
    line-height: 1.5em;
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    left: 15px;
    padding: 15px 15px 15px 3px; }
    .side-con .side-con-text2 .side-con-title {
      font-weight: bold; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 .form-submit {
  margin: 10px 0 0 -20px;
  text-align: center; }
  .wpcf7 .form-submit .formorder-comfirm {
    background: transparent url("../img/content/top_content_img6_btn.jpg") no-repeat 0 0 scroll;
    width: 688px;
    height: 108px;
    border: none;
    text-indent: -9999px; }
  .wpcf7 .form-submit .formparter-comfirm {
    background: transparent url("../img/content/partner_content-btn.jpg") no-repeat 0 0 scroll;
    width: 374px;
    height: 73px;
    border: none;
    text-indent: -9999px; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 14px; }
.wpcf7 input {
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 419px;
  font-size: 14px;
  height: 30px; }

footer {
  margin-top: 80px; }
  footer .footer-info1 {
    background-color: #0072d9;
    line-height: 30px;
    color: white; }
  footer .footer-content {
    background-color: #00529b;
    padding: 16px 0 25px; }
    footer .footer-content .footer-logo {
      float: left; }
    footer .footer-content .footer-tel {
      float: right; }
    footer .footer-content .footer-navi {
      padding: 35px 35px 0 35px; }
      footer .footer-content .footer-navi ul {
        list-style: none;
        padding: 0px;
        margin: 0px; }
        footer .footer-content .footer-navi ul li {
          color: white;
          display: inline; }
          footer .footer-content .footer-navi ul li a {
            padding: 0 10px;
            border-left: 1px solid white;
            color: white;
            font-size: 14px;
            font-weight: bold; }
        footer .footer-content .footer-navi ul li:last-child {
          border-right: 1px solid white; }
  footer .footer-copyright {
    height: 45px;
    text-align: center;
    padding-top: 20px; }

/* part */
.sideBlog .sideBlog-title {
  color: #00529b;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #00529b;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

/*/////////// part-area ////////////*/
.region ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.region > ul {
  padding: 10px; }

.region > ul > li > span {
  font-weight: bold; }

.region > ul > li > ul > li > span {
  padding-left: 10px; }

.region ul.region_post_list li {
  display: inline;
  padding-right: 10px; }

.region {
  border: 7px solid #00529b; }
  .region .area-top-title {
    padding-top: 10px;
    text-align: center;
    color: #00529b;
    font-size: 24px;
    font-weight: bold; }
  .region .region-category {
    margin-bottom: 10px; }
    .region .region-category .area-title {
      margin-bottom: 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background-color: #00529b;
      padding: 6px 0 6px 10px;
      color: white;
      font-size: 16px;
      font-weight: bold; }
  .region a:hover {
    text-decoration: underline;
    color: #333333; }

/* page content */
#content {
  position: relative;
  /* top */ }
  #content .top-content-info1 {
    background: white url("../img/content/top_content_img1.png") no-repeat 0 0 scroll;
    margin-top: -20px;
    height: 975px;
    width: 796px;
    position: relative; }
    #content .top-content-info1 .top-info1-blog {
      position: absolute;
      top: 65px;
      left: 35px; }
      #content .top-content-info1 .top-info1-blog ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #content .top-content-info1 .top-info1-blog ul .item {
          width: 515px;
          border-top: 1px solid #7dabf0; }
          #content .top-content-info1 .top-info1-blog ul .item .date {
            color: white;
            font-weight: bold;
            float: left;
            width: 125px; }
          #content .top-content-info1 .top-info1-blog ul .item .title {
            color: white; }
          #content .top-content-info1 .top-info1-blog ul .item .title a:hover {
            text-decoration: underline; }
          #content .top-content-info1 .top-info1-blog ul .item .date, #content .top-content-info1 .top-info1-blog ul .item .title {
            line-height: 30px; }
        #content .top-content-info1 .top-info1-blog ul .item:first-child {
          border-top: none; }
    #content .top-content-info1 .top-info1-text {
      position: absolute;
      top: 386px;
      left: 23px; }
      #content .top-content-info1 .top-info1-text ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: left; }
        #content .top-content-info1 .top-info1-text ul li {
          width: 350px;
          margin-bottom: 20px;
          padding: 80px 20px 20px 20px; }
        #content .top-content-info1 .top-info1-text ul .info-text {
          padding: 65px 12px 20px 20px; }
        #content .top-content-info1 .top-info1-text ul li:last-child {
          margin-top: 43px; }
      #content .top-content-info1 .top-info1-text ul:last-child {
        margin-left: 15px; }
        #content .top-content-info1 .top-info1-text ul:last-child li:last-child {
          margin-top: 20px; }
  #content .top-content-info2 {
    background: white url("../img/content/top_content_img2.png") no-repeat 0 0 scroll;
    height: 405px;
    position: relative; }
    #content .top-content-info2 .top-info2-text {
      position: absolute;
      top: 135px;
      left: 50px; }
      #content .top-content-info2 .top-info2-text ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: left; }
        #content .top-content-info2 .top-info2-text ul li {
          line-height: 40px;
          padding: 0 0 3px 10px;
          font-size: 17px;
          font-weight: bold; }
        #content .top-content-info2 .top-info2-text ul li:first-child {
          width: 305px;
          line-height: 1.5em; }
  #content .top-box1-title {
    line-height: 61px;
    margin-left: 10px;
    padding-left: 71px;
    background: white url("../img/content/top_box1_icon.png") no-repeat 0 0 scroll;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  #content .top-box2-title {
    line-height: 61px;
    margin-left: 10px;
    padding-left: 71px;
    background: white url("../img/content/top_box2_icon.png") no-repeat 0 0 scroll;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; }
  #content .flow-title {
    color: #333333;
    font-size: 30px;
    font-weight: bold; }
  #content .top-space {
    padding-top: 28px; }
  #content .top-content-info3 {
    border: 15px solid #ededed;
    border-top: none;
    padding: 20px; }
    #content .top-content-info3 .top-order-table {
      border-style: none; }
      #content .top-content-info3 .top-order-table .order-title {
        color: #41c59c;
        font-size: 12px; }
      #content .top-content-info3 .top-order-table tr {
        height: 55px; }
      #content .top-content-info3 .top-order-table tr th {
        background: white url("../img/content/top_order_icon.jpg") no-repeat 0 0 scroll;
        width: 220px;
        padding-left: 15px !important;
        padding: 0;
        border: none;
        line-height: 1.5em; }
      #content .top-content-info3 .top-order-table tr td {
        border: none;
        padding: 5px 20px;
        font-size: 14px; }

.top-scroll {
  position: fixed;
  top: 100px;
  right: 0; }
  .top-scroll a:hover {
    height: 50px; }

/*//////// page-faq //////*/
.faq-content-list .faq-content-row {
  margin-top: 25px;
  border: 1px solid #00529b;
  border-top: none; }
  .faq-content-list .faq-content-row .question {
    background-color: #00529b;
    line-height: 56px;
    padding-left: 20px;
    font-size: 18px;
    color: #fff; }
  .faq-content-list .faq-content-row .answer {
    padding: 10px 15px;
    line-height: 1.5em; }
    .faq-content-list .faq-content-row .answer .answer-space {
      padding-top: 15px; }

/* end faq-content-list */
/*------- page-point ----------*/
.point-top_img {
  margin-top: -45px; }

.subpage-space {
  padding-top: 28px; }

/*------- page-price ----------*/
.price-content-info1 {
  background: white url("../img/content/price_content_img1.png") no-repeat 0 0 scroll;
  height: 109px;
  position: relative; }
  .price-content-info1 .price-info1-text {
    position: absolute;
    bottom: 25px;
    left: 65px;
    color: white;
    font-size: 22px;
    font-weight: bold; }

.price-content-info2 {
  margin: -20px 0 15px; }

.price-content-info3 .image {
  width: 372px;
  float: right;
  margin-right: -30px; }
.price-content-info3 .text {
  width: 390px;
  float: left;
  margin-right: 25px; }

.price-table-info {
  width: 602px !important;
  margin: 30px 80px 20px 80px; }
  .price-table-info tr th, .price-table-info td {
    text-align: center;
    border: 1px solid #ddd !important;
    padding: 10px 20px; }
  .price-table-info .table-info-title {
    background-color: #00529b;
    color: white;
    height: 50px;
    font-size: 18px;
    font-weight: bold; }
  .price-table-info tr th {
    color: #00529b;
    background-color: #f1f7fe;
    font-size: 18px;
    font-weight: bold; }
  .price-table-info tr td {
    color: #ff3355;
    font-size: 35px;
    font-weight: bold; }
    .price-table-info tr td .price-table-stext {
      font-size: 20px; }

.price-table-text {
  box-shadow: 0 0 4px 4px #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #eee;
  text-align: center;
  line-height: 55px;
  width: 602px;
  margin: 0 0 32px 80px;
  color: #ff3355;
  font-size: 26px;
  font-weight: bold; }

.choice-content-info1 {
  background: #00529b url("../img/content/choice_content_img1.png") no-repeat 0 0 scroll;
  height: 1073px;
  position: relative; }
  .choice-content-info1 .choice-info1, .choice-content-info1 .choice-info2, .choice-content-info1 .choice-info3, .choice-content-info1 .choice-info4, .choice-content-info1 .choice-info5 {
    position: absolute;
    top: 180px;
    left: 30px;
    right: 15px; }
    .choice-content-info1 .choice-info1 .choice-info-title, .choice-content-info1 .choice-info2 .choice-info-title, .choice-content-info1 .choice-info3 .choice-info-title, .choice-content-info1 .choice-info4 .choice-info-title, .choice-content-info1 .choice-info5 .choice-info-title {
      padding-left: 60px;
      color: #000;
      font-size: 30px;
      font-weight: bold; }
      .choice-content-info1 .choice-info1 .choice-info-title .choice-info-clr, .choice-content-info1 .choice-info2 .choice-info-title .choice-info-clr, .choice-content-info1 .choice-info3 .choice-info-title .choice-info-clr, .choice-content-info1 .choice-info4 .choice-info-title .choice-info-clr, .choice-content-info1 .choice-info5 .choice-info-title .choice-info-clr {
        color: #d90000; }
    .choice-content-info1 .choice-info1 .choice-info-text, .choice-content-info1 .choice-info2 .choice-info-text, .choice-content-info1 .choice-info3 .choice-info-text, .choice-content-info1 .choice-info4 .choice-info-text, .choice-content-info1 .choice-info5 .choice-info-text {
      padding-top: 16px;
      line-height: 1.8em; }
  .choice-content-info1 .choice-info2 {
    position: absolute;
    top: 395px;
    left: 30px; }
  .choice-content-info1 .choice-info3 {
    position: absolute;
    top: 575px;
    left: 30px;
    right: 20px; }
  .choice-content-info1 .choice-info4 {
    position: absolute;
    top: 730px;
    left: 30px;
    right: 20px; }
  .choice-content-info1 .choice-info5 {
    position: absolute;
    top: 941px;
    left: 30px;
    right: 20px; }

.choice-content-info2 {
  background: white url("../img/content/choice_content_img2.jpg") no-repeat 0 0 scroll;
  height: 332px;
  margin-top: 30px;
  position: relative; }
  .choice-content-info2 .choice-info2-text {
    position: absolute;
    top: 70px;
    left: 60px; }
    .choice-content-info2 .choice-info2-text ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      float: left; }
      .choice-content-info2 .choice-info2-text ul li {
        line-height: 38px;
        padding: 0 0 3px 10px;
        font-size: 17px;
        font-weight: bold; }

.choice-text-clr {
  color: #000;
  padding: 35px 0 5px;
  font-size: 22px;
  font-weight: bold; }

.choice-content-info3 {
  margin-top: 20px;
  border: 1px solid #d2e4fb;
  border-top: none; }
  .choice-content-info3 .choice-info3-title {
    background-color: #d2e4fb;
    line-height: 40px;
    padding-left: 14px;
    color: #0852a0;
    font-size: 18px;
    font-weight: bold; }
  .choice-content-info3 .choice-info3-text {
    padding: 10px 15px;
    line-height: 1.5em; }

.choice-content-info4 {
  background: white url("../img/content/choice_content_img3.png") no-repeat 0 0 scroll;
  height: 226px;
  margin-top: 20px;
  position: relative; }
  .choice-content-info4 .choice-info4-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold; }
  .choice-content-info4 .choice-info4-text {
    position: absolute;
    top: 65px;
    left: 18px;
    right: 20px; }

.choice-slogan {
  margin: 25px 0 50px 0;
  color: #000;
  font-size: 28px;
  font-weight: bold; }
  .choice-slogan .slogan-clr {
    font-size: 32px;
    color: #ff0000; }

/*-------- page-about -------------*/
.about-content-list {
  background: white url("../img/content/about_content_img2.jpg") no-repeat 0 0 scroll;
  height: 422px;
  position: relative; }
  .about-content-list .about-list-text {
    position: absolute;
    top: 70px;
    left: 50px; }
    .about-content-list .about-list-text ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      float: left; }
      .about-content-list .about-list-text ul li {
        line-height: 40px;
        padding: 0 0 3px 10px;
        font-size: 17px;
        font-weight: bold; }
      .about-content-list .about-list-text ul li:first-child {
        width: 305px;
        line-height: 1.5em; }
  .about-content-list .about-text {
    position: absolute;
    color: #00479d;
    font-weight: bold;
    bottom: 13px;
    left: 15px; }

.about-content-table tr td {
  padding: 20px 13px;
  border: 1px solid #ddd; }
  .about-content-table tr td .fa {
    font-size: 11px;
    padding-right: 5px; }
  .about-content-table tr td .sfont {
    font-size: 12px; }
.about-content-table tr .about-title1, .about-content-table tr .about-title2 {
  text-align: center;
  background-color: #0cb855;
  color: white;
  width: 345px;
  height: 79px;
  font-size: 18px;
  font-weight: bold; }
.about-content-table tr .about-title2 {
  background-color: #ff7518; }
.about-content-table tr .about-sinfo1 {
  margin: -90px 0 !important; }
.about-content-table tr .about-sinfo2 {
  margin: -170px 0 !important; }
.about-content-table tr .about-sinfo3 {
  margin: -60px 0 !important; }
.about-content-table th {
  padding: 0 !important;
  width: 70px; }
.about-content-table .about-img {
  background-color: #00479d; }

/*-------- page-about -------------*/
.flow-content-info {
  position: relative; }
  .flow-content-info .flow-info1, .flow-content-info .flow-info2 {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 15px; }
    .flow-content-info .flow-info1 .flow-info-title, .flow-content-info .flow-info2 .flow-info-title {
      padding-left: 165px;
      color: #00529b;
      font-size: 28px;
      font-weight: bold; }
    .flow-content-info .flow-info1 .flow-info-text, .flow-content-info .flow-info2 .flow-info-text {
      padding: 16px 0 0 165px; }
    .flow-content-info .flow-info1 .flow-contact, .flow-content-info .flow-info2 .flow-contact {
      position: absolute;
      bottom: -92px;
      right: 10px; }
  .flow-content-info .flow-info2 {
    position: absolute;
    top: 44px;
    left: 0px; }

/*--------page-partner ------*/
.partner-info {
  margin: 30px 0 25px; }
  .partner-info .partner-tel {
    float: left; }
  .partner-info .partner-text {
    float: right;
    padding-top: 12px;
    font-weight: bold; }
    .partner-info .partner-text .partner-text-clr {
      color: #00529b;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold; }

.partner-form tr th, .partner-form td {
  border: 1px solid #04325b; }
.partner-form tr th {
  background-color: #00529b;
  color: white;
  font-size: 18px;
  font-weight: bold; }

.partner-spc {
  margin-bottom: 35px; }

/*-----page-estimate----*/
.estimate-form tr th, .estimate-form td {
  border: 1px solid #04325b; }
.estimate-form tr th {
  background-color: #00529b;
  color: white;
  font-size: 18px !important;
  font-weight: bold; }

.estimate-title-spc {
  margin-top: 30px; }

.estimate-spc {
  margin-bottom: 35px; }

.estimate-title {
  padding-left: 20px;
  background-color: #0072d9;
  line-height: 48px;
  color: white;
  font-size: 24px;
  font-weight: bold; }

/*-----page-company----*/
.company-table tr th, .company-table td {
  border: 1px solid #04325b; }
.company-table tr th {
  background-color: #00529b;
  color: white;
  font-size: 18px !important;
  font-weight: bold; }

/*-----page-blog----*/
.post-row-content .blog-btnrm {
  float: right;
  padding: 3px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #0072d9; }
  .post-row-content .blog-btnrm a {
    color: white; }
  .post-row-content .blog-btnrm a:hover {
    opacity: 0.5; }
.post-row-content .post-row-meta .fa {
  padding: 0 5px 0 20px; }
.post-row-content .post-row-meta .fa:first-child {
  padding-right: 5px;
  padding-left: 0; }
.post-row-content .blog-content {
  margin-top: 20px; }

.navigation {
  margin-top: 25px; }
  .navigation a {
    color: #00529b; }
  .navigation a:hover {
    opacity: 0.5; }

/*-----page-voice----*/
.voice-content {
  border: 1px solid #00479d; }
  .voice-content .voice-title {
    background-color: #00479d;
    color: white; }
    .voice-content .voice-title .title-left {
      float: left;
      padding-left: 20px;
      line-height: 56px;
      font-size: 18px; }
    .voice-content .voice-title .title-right {
      float: right;
      line-height: 56px;
      font-size: 18px;
      padding-right: 20px; }
      .voice-content .voice-title .title-right a {
        color: white; }
  .voice-content .voice-info {
    border: 10px solid #f0f4f9;
    padding: 18px; }
    .voice-content .voice-info .voice-img {
      padding-bottom: 18px; }
    .voice-content .voice-info .voice-post-title {
      padding-bottom: 16px;
      font-size: 24px;
      color: #003399; }

/*-----page-voice----*/
.work-group .work-row {
  margin-top: 40px; }
  .work-group .work-row .work-col {
    float: left; }
    .work-group .work-row .work-col .image img {
      max-width: 100%;
      height: auto; }
  .work-group .work-row .work-col:first-child {
    margin-left: 0px; }
  .work-group .work-row .work-col370 {
    width: 370px;
    margin-left: 20px; }
    .work-group .work-row .work-col370 .work-title {
      background-color: #00529a;
      margin-top: 10px;
      line-height: 40px;
      padding-left: 20px; }
      .work-group .work-row .work-col370 .work-title a {
        color: white;
        font-size: 14px; }
    .work-group .work-row .work-col370 .work-text {
      margin-top: 10px; }
      .work-group .work-row .work-col370 .work-text .wtext1 {
        padding-left: 20px;
        float: left; }
      .work-group .work-row .work-col370 .work-text .wtext2 {
        float: left;
        padding-left: 30px; }
    .work-group .work-row .work-col370 .work-rm {
      text-align: right; }
    .work-group .work-row .work-col370 .work-rm a:hover {
      text-decoration: underline; }
.work-group .work-row:first-child {
  margin-top: 25px; }

.work-detail-content {
  position: relative; }
  .work-detail-content .bx-wrapper {
    margin: 0px auto; }
  .work-detail-content .bx-viewport {
    left: 0px;
    box-shadow: none;
    border: 1px solid #ddd !important;
    margin-left: 5px !important; }
  .work-detail-content .bx-pager {
    display: none; }
  .work-detail-content #bx-pager {
    margin: 10px 0 0 -5px;
    text-align: center; }
    .work-detail-content #bx-pager a img {
      width: 183px;
      height: auto;
      border: 1px solid #ddd; }
    .work-detail-content #bx-pager a {
      padding-left: 5px; }
  .work-detail-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: 1px; }
  .work-detail-content .bx-controls-direction .bx-next {
    position: absolute;
    right: 1px; }
  .work-detail-content .work-detail-info {
    background: transparent url("../img/content/work_detail_bg.png") repeat-x 0 0 scroll;
    height: 140px;
    position: absolute;
    bottom: 148px;
    left: 1px;
    width: 758px;
    color: white; }
    .work-detail-content .work-detail-info .work-text1 {
      padding: 25px 15px 22px 15px;
      font-size: 16px; }
    .work-detail-content .work-detail-info .work-text2 {
      padding-left: 35px;
      float: left; }
    .work-detail-content .work-detail-info .work-text3 {
      float: left;
      padding-left: 145px; }
      .work-detail-content .work-detail-info .work-text3 a {
        color: white; }

.work-detail-btn a {
  text-indent: -9999px;
  background: url("../img/content/work_detail_btn.png") no-repeat center 0 scroll;
  text-align: center;
  height: 67px;
  width: 368px;
  display: block;
  margin: 40px 200px; }
